# Read data

In [5]:
import pandas as pd

df = pd.read_csv("crime_data_sample.csv")

df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [2]:
df["AREA NAME"].value_counts()

AREA NAME
Central        62523
77th Street    57392
Pacific        53582
Southwest      51643
Hollywood      48357
Olympic        46459
Southeast      46340
N Hollywood    46078
Newton         45712
Wilshire       44112
Rampart        43225
West LA        42144
Northeast      39463
Van Nuys       38824
West Valley    38605
Harbor         37818
Devonshire     37549
Topanga        37499
Mission        36534
Hollenbeck     34203
Foothill       30381
Name: count, dtype: int64

# Grouping areas into regions

In [6]:
# Created by looking at LA map
regions = {
    "Central": ["Central","Hollywood", "Olympic", "Newton", "Wilshire", "Rampart", "Hollenbeck", "Pacific"],
    "Northeast": ["Northeast", "N Hollywood", "Foothill", "Mission"],
    "South": ["Southwest", "Southeast", "Harbor", "77th Street"],
    "Northwest": ["Van Nuys", "West Valley", "Devonshire", "West LA", "Topanga"]
}